<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">SSID Name</span>
            <input type="text" class="form-control" [(ngModel)]="ssid" placeholder="Wireless network's name..." required>
        </div>
        <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" (click)="onPublic()">Public</button>
                        <button type="button" class="btn btn-default" (click)="onHidden()">Hidden</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" (click)="onAes()">AES</button>
                        <button type="button" class="btn btn-default" (click)="onTkip()">TKIP</button>
                    </div>
                </div>
            </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2" >Pass phrase</span>
            <input type="text" class="form-control" [(ngModel)]="passphrase" placeholder="Wireless networks pass phrase" required>
        </div>
        <br>
        <div *ngIf="ssid || passphrase">
            <p><a class="btn btn-block btn-success" role="button" (click)="downloadFile()">Download!</a></p>
        </div>
    </div>
    <div *ngIf="ssid || passphrase">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<pre>
&lt;?xml version="1.0"?&gt;
&lt;WLANProfile xmlns="http://www.microsoft.com/networking/WLAN/profile/v1"&gt;
	&lt;name&gt;&lt;/name&gt;
		&lt;SSIDConfig&gt;
		&lt;SSID&gt;
			&lt;hex&gt;535349444e414d45&lt;/hex&gt;
			&lt;name&gt;<font color="red"><b>{{ssid}}</b></font>&lt;/name&gt;
		&lt;/SSID&gt;
	&lt;nonBroadcast&gt;<font color="red"><b>{{hidden}}</b></font>&lt;/nonBroadcast&gt;
	&lt;/SSIDConfig&gt;
	&lt;connectionType&gt;ESS&lt;/connectionType&gt;
	&lt;connectionMode&gt;auto&lt;/connectionMode&gt;
	&lt;MSM&gt;
		&lt;security&gt;
			&lt;authEncryption&gt;
				&lt;authentication&gt;WPA2PSK&lt;/authentication&gt;
				&lt;encryption&gt;<font color="red"><b>{{encryption}}</b></font>&lt;/encryption&gt;
				&lt;useOneX&gt;false&lt;/useOneX&gt;
			&lt;/authEncryption&gt;
			&lt;sharedKey&gt;
				&lt;keyType&gt;passPhrase&lt;/keyType&gt;
				&lt;protected&gt;true&lt;/protected&gt;
				&lt;keyMaterial&gt;<font color="red"><b>{{passphrase}}</b></font>&lt;/keyMaterial&gt;
			&lt;/sharedKey&gt;
		&lt;/security&gt;
	&lt;/MSM&gt;
&lt;/WLANProfile&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        
    </div>
</div>